extends layout

block content
  h1= title
  p welcome to rabbit pug
  div(class="container-fluid")
        div(class="row")
            -
                let rabbit = results

            each v,items in rabbit
                div(class="col-sm-2" onclick=`buy(${items})`) #{v.age}
                div(class="col-sm-2" onclick=`buy(${items})`) #{v.color}
                div(class="col-sm-2" onclick=`buy(${items})`) #{v.weight} 

        script.
            function buy(itemNo)
            {
                alert(`you purchased Item ${itemNo+1}`)
            }
        script. 