extends layout

block content
  h1= title

    - let rabbitid = toShow._id
    - let age = toShow.age
    - let color = toShow.color
    - let weight = toShow.weight

  div
  div.row
  div(class='rabbitAttr mr-3') rabbit ID is:
  div #{rabbitid}
  div.row
  div(class='rabbitAttr mr-3') rabbit age is:
  div #{age}
  div.row
  div(class='rabbitAttr mr-3') rabbit color is:
  div #{color}
  div.row
  div(class='rabbitAttr mr-3') rabbit weight is:
  div #{weight}

  form(id='rabbitForm', action="/resource/rabbit/rabbitid", method="PUT")
    div.form-group
      label.rabbitAttr(for='age') rabbit age
      input#age(type='text', name='age')
    div.form-group
      label.rabbitAttr(for='color') rabbit color
      input#color(type='text', name='color')
    div.form-group
      label.rabbitAttr(for='weight') rabbit weight
      input#weight(type='text', name='weight')
    input(type="submit")

  script.
    document.forms['rabbitForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save Update " + error )
      });
    });