extends layout

block content
  h1= title
  p welcome to rabbit pug
  div(class="container-fluid")
        div(class="row")
            -
                let rabbit = results

  div(class="container-fluid")
    div(class="row m-1")
        each item in rabbit
            - let destination = `dispatch(\"/rabbit/update?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") rabbit #{item.color}(#{item.weight}) and #{item.age} years 
                button.btn( class="btn-primary ml-1", onclick= destination) Update
                button.btn( class="btn-secondary ml-2", onclick=detail ) Get Detail page
                button.btn( class="btn-warning ml-2", onclick=de ) Delete

        

  script.
    function buy(itemNo)
    {
        alert(`you purchased Item ${itemNo+1}`)
     }

  script.
    function dispatch(path)
    {
        window.location.href=path
    }